
<form method="POST">

    {{ form.hidden_tag() }}

    <label for="{{ form.password.id }}">
        {{ form.password.label.text }}
    </label>

    {{ form.password(
        id="password",
        placeholder="Enter your new password"
    ) }}

    {% for error in form.password.errors %}
        <small style="color: red; display: block; margin-bottom: 10px;">
            {{ error }}
        </small>
    {% endfor %}


    <label for="{{ form.confirm_password.id }}">
        {{ form.confirm_password.label.text }}
    </label>

    {{ form.confirm_password(
        id="confirm_password",
        placeholder="Confirm your new password"
    ) }}

    {% for error in form.confirm_password.errors %}
        <small style="color: red; display: block; margin-bottom: 10px;">
            {{ error }}
        </small>
    {% endfor %}


    {{ form.submit() }}

</form>

